In [1]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import urllib
from urllib.request import Request, urlopen
import ssl
import time
import numpy
from openpyxl import Workbook
import openpyxl

In [2]:
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

book=Workbook()
sheet=book.active

In [3]:
wb = openpyxl.load_workbook('Used_Car_Data_.xlsx')
ws = wb.get_sheet_by_name('Sheet')

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

# creating outer formater of excel file (headings)
import xlsxwriter
workbook=xlsxwriter.Workbook('Used_Car_Data_.xlsx')
worksheet=workbook.add_worksheet()
conten=["S.No","Car","Car Model","Price","Kilometer Traveled","Place","Source"]
alp=["A","B","C",'D',"E","F","G"]
for i in range(1,8):
    a=str(str(alp[i-1])+"1")
    b=str(conten[i-1])
    worksheet.write(a,b)
    '''
for i in range(5,9):
    a=str(str(alp[i-1])+"2")
    b=str(conten[i-5])
    worksheet.write(a,b)
for i in range(9,13):
    a=str(str(alp[i-1])+"2")
    b=str(conten[i-9])
    worksheet.write(a,b)
a=str("A"+"1")
b=str("DATA FEOM CARDEKHO")
worksheet.write(a,b)
a=str("G"+"1")
b=str("DATA FEOM OLX")
worksheet.write(a,b)
a=str("M"+"1")
b=str("DATA FEOM CAES24")
worksheet.write(a,b)'''

In [4]:
# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [66]:
carname=input("CAR NAME:")
carmodel=input("CAR MODEL:")
if " " in carname:
    cname=carname.split()
    cname="-".join(cname)
else:
    cname=carname
yup=carmodel
if " " in carmodel:
    carmodel=carmodel.split()
    carmodel="-".join(carmodel)
cmodel="-"+carmodel
fyear=input("FROM YEAR:")
tyear=input("TO YEAR")
fuletype=input("FULE TYPE:")
city=input("CITY:")
#url="https://www.cardekho.com/used-"+carname+"-"+carmodel+"+"+fyear+"-"+tyear+"-year+"+fuletype+"+cars+in+"+city
url="https://www.cardekho.com/used-"+cname+"+"+fyear+"-"+tyear+"-year+cars+in+"+city
url

CAR NAME:audi
CAR MODEL:a6
FROM YEAR:2014
TO YEAR2020
FULE TYPE:l
CITY:delhi

'https://www.cardekho.com/used-audi+2014-2020-year+cars+in+delhi'

In [67]:
carname+cmodel

'audi-a6'

t=web.find_element_by_xpath('//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[1]/div[3]/div[1]')

#web.execute_script('window.scrollTo(0, document.body.scrollHeight)')

In [68]:
url

'https://www.cardekho.com/used-audi+2014-2020-year+cars+in+delhi'

In [69]:
web=webdriver.Chrome()
web.get(url)
web.execute_script('window.scrollTo(0, document.body.scrollHeight)')
time.sleep(3)

In [70]:
for i in range(True):
    try:
        web.execute_script('window.scrollTo(0, document.body.scrollHeight)')
        time.sleep(3)
    except:
        break
        pass
#html = urlopen(req).read()
time.sleep(5)
t=web.find_element_by_class_name("listitems")
soup=bs(t.get_attribute('innerHTML'),"html.parser")

In [71]:
i=2
price=[]
fuletype=[]
kmtraveled=[]
variant=[]
carn=[]
carm=[]
year=[]
about=[]
place=[]
for data in soup.find_all("div",{"class":"gsc_col-sm-12 gsc_col-md-12 trustmarkbox holder"}):
    detail.append(data.text)
    #print(data)
    for aa in data.find_all("div",{"class":"title"}):
        aa=aa.text
        about.append(aa)
    for div in data.find_all("div",{"class":"dotlist truncate"}):
        st=div.text
        ind=st.index("km")
        kmtraveled.append(div.text[:ind+2])
        sst=div.text.split("\xa0")
        ftype=sst[1]
        fuletype.append(ftype[:-2])
    for span in data.find_all("span",{"class":"amnt"}):
        price.append(span.text)
    for span in data.find_all("span",{"class":"truncate"}):
        place.append(span.text)
        '''
    a="A"+str(i+1)
    b=str(i)
    worksheet.write(a,b)
    a="B"+str(i+1)
    b=about[-1]
    worksheet.write(a,b)
    a="C"+str(i+1)
    b=price[-1]
    worksheet.write(a,b)
    a="D"+str(i+1)
    b=kmtraveled[-1]
    worksheet.write(a,b)
    a="E"+str(i+1)
    b=str("Cardekho.com")
    worksheet.write(a,b)
    i=i+1'''

In [72]:
aboutu=[]
for i in about:
    if "New" in i :
        aboutu.append(i.replace("New",""))
    else:
        aboutu.append(i)
for i in aboutu:
    i=i.split()
    year.append(int(i[0]))
    carn.append(i[1])
    ca=i[2]
    carm.append(ca)
    cv=i[3:]
    cv=" ".join(cv)
    variant.append(cv)
price
priceu=[]
for i in price:
    i=i.split()
    i=i[0]
    i=float(i)
    i=int(i*100000)
    priceu.append(i)
place
placeu=[]
for i in place:
    i=i[4:]+" "+city
    placeu.append(i)
#placeu

In [73]:
len(placeu)

175

In [74]:
len(carn)

89

In [75]:
len(carm)

89

In [76]:
len(variant)

89

In [77]:
len(fuletype)

89

In [78]:
len(year)

89

In [79]:
len(carm)

89

priceu

In [80]:
len(kmtraveled)

89

In [81]:
doc=[]
for i in range(len(priceu)):
    li=[carn[i],carm[i],variant[i],fuletype[i],year[i],str(priceu[i])+" "+"Rs.",kmtraveled[i],placeu[i],"cardekho.com"]
    doc.append(li)

In [83]:
len(doc)

89

In [21]:
docu=[]
for i in doc:
    if " " in carname or " " in yup:
        if str(carname.split()[0]).lower() in str(i[0]).lower():
            docu.append(i)
    else:
        if str(carname).lower() in str(i[0]).lower():
            docu.append(i)

In [22]:
len(docu)

20

In [23]:
docu=sorted(docu)
#conten=["Car Name","Car Model","Year","Price","Kilometer Traveled","Place","Source"]
#ws.append(conten)
for row in docu:
    ws.append(row)
#book.save("Used_Car_Data_.xlsx")
wb.save("Used_Car_Data_.xlsx")

'''
d=0
for i in range(len(priceu)):
    a="A"+str(i+1)
    b=str(i-1)
    worksheet.write(a,b)
    i=i+1
for d in range(6):
    a="A"+str(i+1)
    b=str(i-1)
    worksheet.write(a,b)
    for j in range(len(priceu)):
        if d==0:
            a="B"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
        if d==1:
            a="C"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
        if d==2:
            a="D"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
        if d==3:
            a="E"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
        if d==4:
            a="F"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
        if d==5:
            a="G"+str(j+2)
            b=doc[j][d]
            worksheet.write(a,b)
            '''

workbook.close()

  import xlsxwriter

workbook=xlsxwriter.Workbook('Used_Car_Data_Alto.xlsx')
worksheet=workbook.add_worksheet()

conten=["S.No","Car Details","Price","Kilometer Traveled"]
alp=["A","B","C",'D','E']
for i in range(1,5):
    a=str(str(alp[i-1])+"1")
    b=str(conten[i-1])
    worksheet.write(a,b)

for i in range(1,len(price)+1):
    a="A"+str(i+1)
    b=str(i)
    worksheet.write(a,b)
    a="B"+str(i+1)
    b=about[-1]
    worksheet.write(a,b)
    a="C"+str(i+1)
    b=price[-1]
    worksheet.write(a,b)
    a="D"+str(i+1)
    b=kmtraveled[-1]
    worksheet.write(a,b)

In [24]:
carname=carname
carmodel=carmodel
year=tyear
fuletype=fuletype
city=city
#final=carname+" "+carmodel+" "+year+" "+fuletype+" "+city
final=carname+" "+city
final=final.split()
final="-".join(final)
final

'jaguar-delhi'

carname+carmodel
url="https://www.olx.in/olx-autos-cars_c5/q-"+final+"?isSearchCall=true"
web=webdriver.Chrome()
web.get(url)

In [25]:
url="https://www.olx.in/olx-autos-cars_c5/q-"+final+"?isSearchCall=true"
web=webdriver.Chrome()
web.get(url)

time.sleep(3)
while True:
    try:
        box = WebDriverWait(web, 10).until(EC.presence_of_element_located((By.XPATH,"//button[@data-aut-id='btnLoadMore']")))
        box.click() 
    except:
        break
time.sleep(5)
t=web.find_element_by_xpath('//*[@id="container"]/main/div/div/section/div/div/div[4]/div[2]/div/div[2]')
soup=bs(t.get_attribute('innerHTML'),"html.parser")

In [26]:
d=[]
variant1=[]
fuletype1=[]
price1=[]
carn1=[]
carm1=[]
kmtraveled1=[]
about1=[]
year1=[]
place1=[]
detail1=[]
for tag in soup.find_all("ul",{"class":"rl3f9 _3mXOU"}):
    for data in tag.find_all("div",{"class":"IKo3_"}):
        d.append(data)
        detail1.append(data.text)
        #print(data)
        for span in data.find_all("span",{"class":"_89yzn"}):
            price1.append(span.text)
        for span in data.find_all("span",{"class":"_2TVI3"}):
            oo=span.text.split("-")
            year1.append(int(oo[0][:4]))
            kmtraveled1.append(oo[1]) 
        for span in data.find_all("span",{"class":"_2tW1I"}):
            about1.append(span.text)
        for span in data.find_all("span",{"class":"tjgMj"}):
            place1.append(span.text)
        '''
    a="A"+str(i+1)
    b=str(i)
    worksheet.write(a,b)
    a="B"+str(i+1)
    b=about1[-1]
    worksheet.write(a,b)
    a="C"+str(i+1)
    b=price1[-1]
    worksheet.write(a,b)
    a="D"+str(i+1)
    b=kmtraveled1[-1]
    worksheet.write(a,b)
    a="E"+str(i+1)
    b=str("Olx.com")
    worksheet.write(a,b)
    i=i+1
    '''

In [27]:
priceu1=[]
for i in price1:
    i=i.replace(",","")
    i=i[2:]
    i=int(i)
    priceu1.append(i)
about1
aboutu1=[]
for i in about1:
    if "New" in i :
        aboutu1.append(i.replace("New",""))
    else:
        aboutu1.append(i)
for i in aboutu1:
    i=i.split(" ")
    carn1.append(i[0])
    fule=i[-1]
    if fule=="Diesel" or fule=="Petrol":
        fuletype1.append(fule)
    elif "Diesel" in i:
        fuletype1.append("Diesel")
    elif "Petrol" in i:
        fuletype1.append("Petrol")
    else:
        fuletype1.append("NA")
    ia=i[:-1]
    ia=ia[:-1]
    try:
        model=ia[1]
    except:
        model="NA"
    cv=ia[2:]
    cv=" ".join(cv)
    carm1.append(model)
    if len(cv)<1:
        variant1.append("NA")
    else:
        variant1.append(cv)

In [28]:
aboutu1

['Jaguar XF 2.2 Litre Luxury, 2014, Diesel',
 'Jaguar XF Portfolio 2.0, 2018, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2011, Diesel',
 'Jaguar XJ 3.0L Premium Luxury, 2011, Diesel',
 'Jaguar Others, 2011, Petrol',
 'Jaguar XF, 2011, Diesel',
 'Jaguar XF 2.0 Petrol Portfolio, 2016, Petrol',
 'Jaguar XF 3.0 Litre S Premium Luxury, 2013, Diesel',
 'Jaguar XJ L 3.0 V6 Portfolio, 2014, Diesel',
 'Jaguar XF Diesel S V6, 2014, Diesel',
 'Jaguar XF Petrol V8, 2010, Petrol',
 'Jaguar XJ 2009-2013 5.0 L V8 Supercharged, 2010, Petrol',
 'Jaguar XF Diesel S V6, 2013, Diesel',
 'Jaguar XF 2.2 Diesel, 2019, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2011, Diesel',
 'Jaguar XF 3.0 Litre S Premium Luxury, 2012, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2011, Diesel',
 'Jaguar XF Portfolio 2.0, 2018, Diesel',
 'Jaguar XF 2.2 Diesel, 2015, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar XF 2.2 Litre Luxury, 2013, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2011, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2011, Diesel',
 'Jaguar XE 2.0L Diesel Portfolio, 2017, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2014, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar XJ L 2.0 Portfolio, 2016, Petrol',
 'Jaguar XJ L 3.0 Diesel, 2017, Diesel',
 'Jaguar XJ 3.0L Premium Luxury, 2014, Diesel',
 'Jaguar XF Petrol 2.0, 2019, Petrol',
 'Jaguar XJ L 3.0 V6 Portfolio, 2014, Diesel',
 'Jaguar XF Petrol V8, 2011, Petrol',
 'Jaguar XJ L 3.0 V6, 2012, Diesel',
 'Jaguar XJ 2.0L Portfolio, 2017, Petrol',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar F-Pace Prestige 2.0 AWD, 2018, Diesel',
 'Jaguar XJ L 3.0 V6 Portfolio, 2016, Diesel',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XJ L 3.0 Diesel, 2014, Diesel',
 'Jaguar XJ L 3.0 V6, 2016, Petrol',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XJ L 2.0 Portfolio, 2016, Petrol',
 'Jaguar XF 2.2 Diesel Luxury, 2015, Diesel',
 'Jaguar XF Diesel S V6, 2012, Diesel',
 'Jaguar XJ 3.0L Portfolio, 2014, Diesel',
 'Jaguar XF 2.2 Diesel, 2014, Diesel',
 'Jaguar XJ 3.0L Portfolio, 2014, Diesel',
 'Jaguar XF 2.2 Diesel, 2019, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar XF 2.2 Diesel, 2014, Diesel',
 'Jaguar XF 2.2 Litre Luxury, 2014, Diesel',
 'Jaguar XF 3.0 Litre S Premium Luxury, 2015, Diesel',
 'Jaguar Others, 2019, Petrol',
 'Jaguar XF 2.0 Petrol Portfolio, 2019, Petrol',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar Others, 2019, Petrol',
 'Jaguar XF 2.2 Diesel, 2015, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar XF Diesel S V6, 2013, Diesel',
 'Jaguar XJ 3.0L Portfolio, 2014, Diesel',
 'Jaguar XJ L 3.0 V6 Portfolio, 2016, Diesel',
 'Jaguar XF, 2011, Diesel',
 'Jaguar XJ L 3.0L Portfolio, 2014, Diesel',
 'Jaguar XF Diesel S V6, 2014, Diesel',
 'Jaguar XF 3.0 Litre S Premium Luxury, 2013, Diesel',
 'Range Rover',
 'Jaguar XJ 2009-2013 5.0 L V8 Supercharged, 2010, Petrol',
 'Jaguar F-Pace Prestige 2.0 Petrol, 2020, Petrol',
 'Jaguar XF 2.2 Diesel, 2011, Diesel',
 'Jaguar XF 2012 Diesel 60000 Km Driven (Black)',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XJ L 5.0 V8, 2010, Petrol',
 'Jaguar XF Diesel S V6, 2011, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar XF 2011 Diesel',
 'Jaguar XF 2014',
 'Jaguar XE 2010 Diesel 75000 Km Driven',
 'Jaguar XF 2.0 Petrol Portfolio, 2019, Petrol',
 'Jaguar XF 2015 Diesel 36000 Km Driven',
 'Jaguar XJL 2017 Diesel Well Maintained',
 'Jaguar Others, 2019, Petrol',
 'Jaguar XJ 2014 Diesel Good Condition',
 'Jaguar XF 2.2 Diesel, 2014, Diesel',
 'Jaguar XJ L 3.0 V6 Portfolio, 2016, Diesel',
 'Jaguar XF Diesel S V6, 2014, Diesel',
 'Jaguar XF 2011 Well Maintained',
 'Jaguar XE 2018 Diesel Good Condition',
 'Jaguar Others, 2020, Petrol',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar XF 2.2 Litre Luxury, 2014, Diesel',
 'Jaguar XF 2.2 Diesel, 2014, Diesel',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar XF Portfolio 2.0, 2019, Petrol',
 'Jaguar XJ L 2.0 Portfolio, 2019, Petrol',
 'Jaguar XF 2.2 Diesel, 2013, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2015, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2014, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2015, Diesel',
 'Jaguar XJL portfolio',
 'Jaguar XJ L 3.0 V6 Portfolio, 2018, Diesel',
 'Jaguar XF 2.2 Diesel Luxury, 2013, Diesel',
 'Jaguar Others, 2017, Diesel',
 'Jaguar XJ L 2.0 Portfolio, 2016, Petrol',
 'Jaguar XF Diesel S V6, 2011, Diesel',
 'Jaguar XF 2.2 Diesel, 2014, Diesel',
 'Jaguar XF Petrol 2.0, 2017, Petrol',
 'Jaguar XF 2.2 Diesel, 2013, Diesel']

In [29]:
len(fuletype1),len(variant1)

(112, 112)

In [30]:
len(carm1)

112

In [31]:
len(carm1)

112

In [32]:
len(priceu1)

112

In [33]:
len(priceu1)

112

In [34]:
doc1=[]
waste=[]
doc1u=[]
for i in range(len(priceu1)):
    li=[carn1[i],carm1[i],variant1[i],fuletype1[i],year1[i],str(priceu1[i])+" "+"Rs.",kmtraveled1[i],place1[i],"olx.com"]
    doc1.append(li)

for i in doc1:
    if " " in carname or " " in yup:
        if int(fyear)<=i[4]<=int(tyear) and str(carname.split()[0]).lower() in str(i[0]).lower() or str(i[1])=="NA":
            doc1u.append(i)
        else:
            waste.append(i)
    else:
        if int(fyear)<=i[4]<=int(tyear) and str(carname).lower() in str(i[0]).lower() or str(i[1])=="NA":
            doc1u.append(i)
        else:
            waste.append(i)

In [35]:
len(doc1u),len(doc1)

(68, 112)

In [36]:
doc1u=sorted(doc1u)
for row in doc1u:
    ws.append(row)
#book.save("Used_Car_Data_.xlsx")
wb.save("Used_Car_Data_.xlsx")

In [37]:
carname=carname
carmodel=carmodel
crmodel=carmodel
if "-" in carmodel:
    crmodel=carmodel.split("-")
    crmodel="%20".join(crmodel)
fyear=fyear
tyear=tyear
fuletype=fuletype

In [38]:
#url="https://www.cars24.com/buy-used-car?carName="+carname+"%20"+carmodel+"&year-range="+fyear+"-"+tyear+"&fuelType="+fuletype+"&sort=P&storeCityId=8597"
#url="https://www.cars24.com/buy-used-car?carName="+carname+"%20"+carmodel+"&year-range="+fyear+"-"+tyear+"&sort=P&storeCityId=8597"
#url="https://www.cars24.com/buy-used-car?year-range="+fyear+"-"+tyear+"&sort=P&search="+carname+"%20"+crmodel+"&storeCityId=8597"
url="https://www.cars24.com/buy-used-car?year-range="+fyear+"-"+tyear+"&sort=P&search="+carname+"&storeCityId=8597"
print(url)
web= webdriver.Chrome()
web.get(url)

https://www.cars24.com/buy-used-car?year-range=2014-2020&sort=P&search=jaguar&storeCityId=8597

In [39]:
box=web.find_element_by_xpath("/html/body/div[1]/div[5]/div/div/h3/div/img")
box.click()
for i in range(True):
    try:
        web.execute_script('window.scrollTo(0, document.body.scrollHeight)')
        time.sleep(3)
    except:
        break
        pass
time.sleep(10)
t=web.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]")
page_soup=bs(t.get_attribute('innerHTML'),"html.parser")

req = Request(url , headers={'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req).read()
page_soup = bs(webpage, "html.parser")

for tag in page_soup.find_all("a",{"class":"_20d39"}):
    print(tag)

In [40]:
d=[]
i=1
price=[]
kmtraveled=[]
year=[]
carn=[]
carm=[]
variant3=[]
fuletype3=[]
about=[]
place3=[]
detail=[]
for data in page_soup.find_all("div",{"class":"_3ENhq"}):
    about.append(data.text)
for data in page_soup.find_all("h3",{"class":"_6KkG6"}):
    price.append(data.text)
for data in page_soup.find_all("div",{"class":"_Ecri"}):
    k=data.text.index("m")
    kmtraveled.append(data.text[:k+1])
    f=data.text.index("O")
    fuletype3.append(data.text[k+1:f-4])
for data in page_soup.find_all("div",{"class":"_3Ow7c"}):
    place3.append(data.text)

In [41]:
len(carname.split())

1

In [42]:
for i in about:
    '''
    try:
        v=i.lower()
        c=carmodel.lower()
        lc=len(c)
        cv=v.index(c)
        variant3.append(i[cv+lc:])
    except:
        variant3.append("NA")
    try:
        v=i.lower()
        c=carmodel.lower()
        lc=len(c)
        cv=v.index(c)
        carm.append(i[cv:cv+lc])
    except:
        carm.append("NA")
    '''
    carn.append(i[5:5+len(carname)])
    i=i.split()
    year.append(int(i[0]))
    #carn.append(i[1:len(carname)])
    try:
        carm.append(i[1+len(carname.split())])
    except:
        carm.append(i[2])
    cv=" ".join(i[4:])
    variant3.append(cv)
price
priceu2=[]
for i in price:
    i=i.replace(",","")
    i=i[2:]
    i=int(i)
    priceu2.append(i)

In [43]:
variant3

['DIESEL',
 'DIESEL',
 'DIESEL',
 'DIESEL',
 'portfolio petrol',
 'DIESEL',
 'DIESEL',
 'DIESEL PRESTIGE',
 'PRESTIGE PETROL',
 'DIESEL',
 'DIESEL',
 '3.0 V 6 PORTFOLIO',
 '3.0 V 6 PREMIUM LUXURY',
 '3.0 V 6 PORTFOLIO']

In [44]:
len(variant3)

14

In [45]:
len(price)

14

In [46]:
len(place3)

14

In [47]:
len(fuletype3)

14

In [48]:
doc2=[]
for i in range(len(priceu2)):
    li=[carn[i],carm[i],variant3[i],fuletype3[i],year[i],str(priceu2[i])+" "+"Rs.",kmtraveled[i],place3[i],"CARS24.com"]
    doc2.append(li)
docu2=[]
for i in doc2:
    if " " in carname or " " in yup:
        if str(carname.split()[0]).lower() in str(i[0]).lower():
            docu2.append(i)
    else:
        if str(carname).lower() in str(i[0]).lower():
            docu2.append(i)

In [49]:
(carname.split()[0]).lower()

'jaguar'

In [50]:
len(doc2),len(docu2)

(14, 14)

In [51]:
docu2=sorted(docu2)
for row in docu2:
    ws.append(row)
wb.save("Used_Car_Data_.xlsx")
wb.close()


for hi in range(len(about)-1):
    a="A"+str(i+1)
    b=str(i-1)
    worksheet.write(a,b)
    a="B"+str(i+1)
    b=about2[hi]
    worksheet.write(a,b)
    a="C"+str(i+1)
    b=price2[hi]
    worksheet.write(a,b)
    a="D"+str(i+1)
    b=kmtraveled1[hi]
    worksheet.write(a,b)
    a="E"+str(i+1)
    b=str("Cars24.com")
    worksheet.write(a,b)
    i=i+1

In [52]:
cardekhominimum=min(price)
olxminimum=min(price1)
indcardekho=price.index(cardekhominimum)
indolx=price1.index(olxminimum)
bestdealcardekho=str(about[indcardekho])+" "+str(price[indcardekho])+" "+str(kmtraveled[indcardekho])
bestdealolx=str(about1[indolx])+" "+str(price1[indolx])+" "+str(kmtraveled1[indolx])

In [53]:
cardekhominimum

'₹ 19,75,000'

In [54]:
import matplotlib.pyplot as plt

In [55]:
valueolx=olxminimum[2:]
valueolx=valueolx.replace(",","")
valueolx=int(valueolx)
valuecardekho=cardekhominimum[:5]
valuecardekho=valuecardekho.replace(",","")
valuecardekho=float(valuecardekho)
valuecardekho=int(valuecardekho*100000)
company=["olx","cardekho"]
finalvalue=[valueolx,valuecardekho]
plt.ylim(100000,2000000)
plt.bar(company,finalvalue)

ValueError: could not convert string to float: '₹ 19'

In [ ]:
bestdealcardekho

In [ ]:
bestdealolx

In [ ]:
finalvalue

str(city).lower() in str(i[7]).lower() and str(yup.split()[0]).lower() in str(i[1]).lower() 
 str(city).lower() in str(i[7]).lower() and and str(yup).lower() in str(i[1]).lower()

####